@import '../../variables.scss';

.navbar-wrapper {
    background-color: $white;
    padding: 0 10rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    justify-content: space-between;
    .search-wrapper {
        font-size: 12px;
        mat-form-field {
            padding-right: 1rem;
        }
        button {
            background-color: $blue;
        }
    }    
}


@media (max-width: 720px) {
    .navbar-wrapper {
        padding: 0 1rem;
    }
}